<h1>Editing employee</h1>
<br/>
<%= render "form", employee: @employee %>


<br/>
<div>
  <%= link_to "Show", @employee,class:"col btn btn-secondary"%>
  <%= link_to "Back", employees_path,class:"col btn btn-dark"%>
</div>
